<div class="four">
    <div class="col-md-10">
        <div class="row">
            <div class="tab">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">活动介绍</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">查看活动</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">活动总结</a></li>
                </ul>
            </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content" id="name">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="title">
                    <h5><span>返回</span>基本信息</h5>
                    <p>负责人：张鑫 13023948374</p>
                    <p>责任人单位：南风里居委会</p>
                </div>
                <div class="write">
                    <input type="text" placeholder="请输入栏目名称" class="onely">
                </div>
                <div class="row" id="comment">
                    <div class="col-sm-12 col-md-12 form-group">
                        <my-file></my-file>
                        <div class="comment">
                            <h4>评论区</h4>
                            <ul>
                                <li><small><time>2017-3-5 09:57</time><span>回复</span></small><p>李大爷：这个活动举办的非常好。希望以后多举办类似的活动</p></li>
                                <li><small><time>2017-3-5 09:57</time><span>回复</span></small><p>李大爷：这个活动举办的非常好。希望以后多举办类似的活动</p></li>
                                <li><small><time>2017-3-5 09:57</time><span>回复</span></small><p>李大爷：这个活动举办的非常好。希望以后多举办类似的活动</p></li>
                                <li><small><time>2017-3-5 09:57</time><span>回复</span></small><p>李大爷：这个活动举办的非常好。希望以后多举办类似的活动</p></li>
                                <li><small><time>2017-3-5 09:57</time><span>回复</span></small><p>李大爷：这个活动举办的非常好。希望以后多举办类似的活动</p></li>
                            </ul>
                            <textarea name="" id="" cols="30" rows="10" ng-model="txtArea"></textarea>
                            <span class="button">发送</span>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="title">
                    <h5>活动列表</h5>
                </div>
                <div class="row list" id="list">
                    <div class="col-xs-4 col-md-4">
                        <dl class="one">
                            <dt><div class="san begin">未开始</div><img src="images/eveybody.png" alt=""></dt>
                            <dd><p>春暖花开社区生日会</p><span><i>2017年3月21日</i>三鑫社区11号楼2门301</span></dd>
                        </dl>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <dl class="two">
                            <dt><div class="san end">已结束</div><img src="images/eveybody.png" alt=""></dt>
                            <dd><p>春暖花开社区生日会</p><span><i>2017年3月21日</i>三鑫社区11号楼2门301</span></dd>
                        </dl>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <dl class="stree">
                            <dt><div class="san over">已总结</div><img src="images/eveybody.png" alt=""></dt>
                            <dd><p>春暖花开社区生日会</p><span><i>2017年3月21日</i>三鑫社区11号楼2门301</span></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <div class="title">
                    <h5><input type="text" placeholder="请输入栏目名称" class="onely"></h5>
                    <my-file></my-file>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <nav id="navbar-example2" class="navbar nav-side">
            <div class="timeline-wrap clearfix">
                <span class="circle top"></span>
                <span class="circle bottom"></span>
                <ul class="nav navbar-nav time-line">
                    <li class=""><a href="#home">基本信息</a></li>
                    <li class="active"><a href="#comment">请输入栏目名称</a></li>
                    <li class="dropdown"><a href="#list">居民预约</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>