body
  font-family: 'Î¢ÈíÑÅºÚ'
  .top
    nav
      border: none
      background: #01b0b9
      a
        color: #fff!important
  .container
    padding: 0
    width: 960px
    .first
      min-height: 60px
      background: #ffffff
      li
        a
          background: #fff!important
          color: #000!important
          font-size: 18px
        a:hover
          background: #fff!important
          color: #01b0b9!important
        a:link
          background: #fff!important
          color: #01b0b9!important
      .navbar-brand
        padding-top: 0!important
        img
          width: 100%
    .sectend
      color: #666!important
      span
        margin-right: 2%
      .breadcrumb > li + li:before
        color: #CCCCCC
        content: ">"
        padding: 0 5px
    .three
      border-bottom: 8px solid #e1e1e1
      h3
        color: #01b0b9
        margin-top: 0
        margin-bottom: 3%
      dt
        padding-right: 8%!important
    .four
      .form
        margin-top: 10px
        margin-bottom: 20px
      .form .input-file
        visibility: hidden
        width: 0
        height: 0
      .form .file-add
        height: 400px
        background: #eee url("../images/default.png") no-repeat center
      ul
        margin-left: 15px
        li
          list-style: none!important
          line-height: 40px
          p
            margin-bottom: 0
          small
            float: right
            font-size: 12px
            color: #999999
            time
              padding-right: 20px
      textarea
        border: 1px solid #01b0b9
        height: 78px
        width: 100%
        resize: none
      h5
        height: 40px
        line-height: 40px
        border-bottom: 1px solid #000
        span
          cursor: pointer
          float: right
          display: inline-block
          width: 80px
          text-align: center
          height: 30px
          line-height: 30px
          background: #01b0b9
          color: #fff
          border-radius: 5px
    .timeline-wrap
      position: relative
      border-left: 2px solid #aaa
      padding: 20px 21px 40px 0
      margin: 50px 0

    .timeline-wrap span
      position: absolute
      width: 10px
      height: 10px
      background: #fff
      border: 2px solid #aaa
      border-radius: 100%

    .timeline-wrap span.top
      left: -6px
      top: -5px

    .timeline-wrap span.bottom
      left: -6px
      bottom: -5px
    .time-line
      margin-left: 0!important
    .time-line li
      width: 150px
      height: auto
      position: relative
      a
        background: #fff
    .time-line li:after
      position: absolute
      content: ''
      width: 10px
      height: 10px
      background: #aaa
      border: 2px solid #fff
      border-radius: 100%
      left: -6px
      top: 20px

    .time-line > li:hover:after
      background-color: dodgerblue

    .time-line li.active:after
      background: dodgerblue
    .scrollspy-example
      height: 300px
      overflow-y: auto
      position: relative
    .tab-pane
      dl
        border: 1px solid #ccc
        box-shadow: 5px 5px 5px 5px #ccc
        img
          width: 100%
        p,span
          padding-left: 10px
        span
          font-size: 10px
          i
            font-style: normal
            color: #999!important
        dd
          padding: 20px 0
  .onely
    border: none
    height: 30px
    min-height: 30px
    outline: none

  .list
    .col-md-4
      dl
        position: relative
        overflow: hidden
        dt
          img
            cursor: pointer
    .san
      position: absolute
      top: -38px
      left: -38px
      text-align: center
      line-height: 128px
      width: 76px
      height: 77px
      color: #fff
      font-size: 10px
      transform: rotate(-45deg)
    .begin
      background: #d45858
    .end
      background: #757575
    .over
      background: #01b0b9


